* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


li {
  list-style-type: none;
  float: left;
}
a {
  display: block;
  padding: 30px;
  background-color: #dddddd;
}

li a:hover {
  background-color: #111;
}

#navbar {
<<<<<<< HEAD
  border: 10px;
  border-radius: 2;
  border-color: #111;
  display: flex;
}
#nav-list {
  display: flex;
  flex-direction: column;
=======
  display: flex;
  justify-content: center;
  border: 10px solid #fff;
>>>>>>> bdbbf5e524f93e49b5cb39a87395762eaef69fbd
}

div {
  border: 10px;
  border-radius: 2;
  border-color: #111;
}
