* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


li {
  list-style-type: none;
  float: left;
}
a {
  display: block;
  background-color: #dddddd;
}

#navbar {
  border: 10px;
  border-radius: 2;
  border-color: #111;
}

div {
  border: 10px;
  border-radius: 2;
  border-color: #111;
}
